/* main content container */
.container {
    min-width: 320px;
}
/* text overlay for portfolio images*/
.overlay {
    background-color: #333;
    padding: 5px 0;
    color: white;
    text-align: center;
    width: 85%;
}
.caption {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate( -50%, -50% );
    text-align: center;
    padding-left:5px;
}
/* container styles */
.row-gap {
    padding-top: 30px;
}
.cont-style {
    margin-top: 50px;
    margin-bottom: 500px;
    padding-top: 25px;
    padding-bottom: 50px;
    background-color: #333;
}
/*image styles */
.img {
    display: block;
    width: 350px;
}

.proj-img {
    position: relative;
    display: inline-block;
}
.port-text {
    font-size: 15px;
}
.github-icon {
    text-align: right;
}


@media only screen and (max-width: 765px) {
    .img-port {
        padding-top: 20px;
    }
    .cont-style {
        width: 50% !important;
    }
}