/* background colour */
.body  {
    background-color: #111;
    color: white;
}
/*coloured title in navbar*/
.nav-title {
    background-color: 	 #8300e9;
    padding: 13px 20px ;
}
.navbar-full {
    padding-top: 0 ;
    padding-bottom: 0 ;
}
/* grey divider and padding between navbar links */
.link-border {
    border-right: 1px solid darkgrey;
    border-left: 1px solid darkgrey;
}
.link-gap,
.link-border {
    padding-right: 10px ;
    padding-left: 10px ;
}
.nav-link {
    color: white!important;
}
.nav-link:hover {
    color: #8300e9 !important;
}
/*gap between about image and p text */
.about-img {
padding-right: 5px;
}

/*main content card alignment */
.prof-about-card {
    margin-top: 2%;
    margin-left: 5%;
    background-color: grey ;
}
.card-width {
    width: 80%;
    min-width: 200px;
}
.card-text {
    width: 60%;

}
.prof-img {
margin-left: 20%;
}
/* profile block styles */
.profile-img-col {
    display: block;
}
.profile-text-col {
    margin-top: 5%;
}
#profile-title {
    color: #8300e9;
}
.prof-img {
    margin-left: 20%;
    width: 50%;
    border-radius: 5%;
    }
/*grey border between content card title and card content */
.about-border {
    padding-bottom: 10px;
    border-bottom: 2px solid #8300e9;
}
/*fixed footer*/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

/*change card width when display is over 1025px */
/* @media only screen and (min-width: 1025px) {
    .card-width {
      width: 50%;
    }
  } */